.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5C9CB0; /* Color de fondo del encabezado */
  color: #ffffff;
  padding: 0.5em 1em; /* Ajusta el relleno según necesites */
}

.header-logo {
  height: 50px; /* Ajusta la altura de tu logo */
}

.header-buttons {
  display: flex;
  gap: 1em; /* Espacio entre los botones */
}

.header-button {
  background-color: #5283b7; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto */
  padding: 0.5em 1em; /* Ajusta el relleno según necesites */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.header-button:hover {
  background-color: #004080; /* Un tono más oscuro para el hover */
}

.header-profile-btn {
  background-color: #6C757D; /* Color de fondo para el contenedor del icono de perfil */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5em; /* Ajusta el relleno si es necesario */
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.profile-icon {
  height: 100%; /* Ajusta según el tamaño deseado */
  border-radius: 50%; /* Esto hace que la imagen sea un círculo */
}

.header-profile-btn:hover {
  background-color: #5a6268; /* Un tono más oscuro para el hover */
}
