/* trabajos.css */

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Alineación del texto en el centro */
    margin-top: 8%; /* Ajusta el margen superior según sea necesario */

  }
  
  .button-link {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px; /* Ajusta el padding para hacer los botones más grandes */
    font-size: 20px; /* Ajusta el tamaño de fuente para hacerlos más grandes */
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff; /* Aumenta el grosor del borde si es necesario */
    border-radius: 8px; /* Ajusta el radio del borde para hacerlo más redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  